@using WordCounter.Models;

<h1>Word Counter Result</h1>

@if (@Model.GetWord().Length < 1 || @Model.GetSentence().Length < 1)
{
  <p>Sorry, something went wrong. Check your inputs and try again.</p>
}
<p>"@Model.GetWord()" appears @Model.GetCount() time(s) in that sentence</p>
