@{
  Layout = "_Layout";
}
<div class="container">
    <h1>The Word Counter</h1>
    <form action="/wordcounter/create" method="post">
      <label for="sentence">Enter a sentence below.</label>
      <br>
      <input id="sentence" name="sentence" type="text>"
      <br>
      <br>
      <br>
      <label for="word">Now enter a word, and we will count how many times in appears in the sentence.</label>
      <br>
      <input id="word" name="word" type="text">
      <br>
      <button type="submit">Go!</button>
    </form>
</div>
